.item {
  border-radius: 5px;
  padding: 15px;
  color: black;
  font-weight: 500px;
  margin: 5px;
}
p {
  font-size: 20px;
  color: white;
}
.flex {
  display: flex;
  background-color: gray;
  height: 110px;
}

.row {
  flex-direction: row;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.pink {
  background-color: pink;
}
.orange {
  background-color: orange;
}
